<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find quadcopter_v1_0_urdf)/urdf/quadcopter_v1_0_urdf.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find quadcopter_v1_0_urdf)/urdf.rviz" />
</launch>